.staysWrapper {
  padding: 2rem 0;
}

.mainStaysHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5em;
}

.staysHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.stays {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

@media screen and (max-width: 50em) {
  .stays {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}
