.stay__item {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stay__item__img {
  border-radius: 24px;
  /* max-width: 700px; */
  max-width: 50%;
  margin: 20px 0;
}

.stay__item__top h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.stay__item__top div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.stay__item__top p:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 3px;
}

.stay__item__top p {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--clr-gray-100);
}

.stay__item__info {
  width: 500px;
  background-color: var(--clr-white-300);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 1rem;
}

.stay__item__text {
  display: flex;
  align-items: center;
  gap: 10rem;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

.stay__item__rating {
  display: flex;
  align-items: center;
  gap: 1rem;
}
