.staysWrapper {
  padding: 2rem 0;
}

.mainStaysHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5em;
}

.staysHeader {
  display: flex;
  align-items: center;
  /* justify-content: space-between;s */
  gap: 60rem;
  margin-bottom: 32px;
}

.stays {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

@media screen and (max-width: 50em) {
  .mainStaysHeader {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
  }
  .staysHeader {
    gap: 10rem;
    justify-content: none;
  }
  .stays {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}
