@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

:root {
  /* font size declarations */

  --main-lg: 24px;
  --main-body-lg: 16px;
  --sub-body-md: 14px;
  --sub-body-sm: 12px;

  /* colors */
  --clr-red-100: #eb5757;
  --clr-black-100: #333333;
  --clr-gray-100: #4f4f4f;
  --clr-gray-200: #828282;
  --clr-gray-300: #bdbdbd;
  --clr-white-100: #fff;
  --clr-wite-200: #f2f2f2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  display: block;
  text-decoration: none;
}
.container {
  max-width: 90%;
  margin: 0 auto;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #00cc66 transparent #00cc66 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
